{% extends "base.html.twig" %}

{% block stylesheets %}
  <!--Bootstrap and Other Vendors-->
  <link rel="stylesheet" href="{{ asset('theme/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('theme/css/bootstrap-theme.min.css') }}">
  <link rel="stylesheet" href="{{ asset('theme/css/magnific-popup.css') }}">
  <link rel="stylesheet" href="{{ asset('theme/vendors/font-awesome/css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('theme/vendors/bootstrap-select/css/bootstrap-select.min.css') }}" media="screen">

  <!--Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

  <!--Theme Styles-->
  <link rel="stylesheet" href="{{ asset('theme/css/default/style.css') }}">
  <link rel="stylesheet" href="{{ asset('theme/css/responsive/responsive.css') }}">

  {# BOOTSTRAP #}
  {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">#}

  {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">#}
  {#<link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}" />#}
{% endblock %}

{% block body %}

  {# Le menu #}
  {% block menu %}
    {#{% include "Includes/menu.html.twig" %}#}
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ asset('theme/index.html') }}"><img src="{{ asset('theme/images/logo.png') }}" alt=""></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#middle-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="middle-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="home_variation_icon"></span>Home variations
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ asset('theme/index.html') }}">Home Page Version 1</a></li>
                <li><a href="{{ asset('theme/index2.html') }}">Home Page Version 2</a></li>
                <li><a href="{{ asset('theme/index3.html') }}">Home Page Version 3</a></li>
                <li><a href="{{ asset('theme/index4.html') }}">Home Page Version 4</a></li>
              </ul>
            </li>
            <li class="dropdown mega-drop">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="video_menu_icon"></span>Video Menu
              </a>
              <ul class="dropdown-menu mega-menu">
                <li class="row_title">Staf Picked</li>
                <li class="videos">
                  <div class="container">
                    <div class="col-sm-3">
                      <div class="row inner m0">
                        <div class="preview_img">
                          <img src="{{ asset('theme/images/menu/1.jpg') }}" alt="" class="preview">
                          <a href="{{ asset('theme/single-video.html') }}" class="play-btn"></a>
                        </div>
                        <div class="title_row row m0"><a href="{{ asset('theme/single-video.html') }}">Duis aute irure dolor in adipsicing elit</a></div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="row inner m0">
                        <div class="preview_img">
                          <img src="{{ asset('theme/images/menu/2.jpg') }}" alt="" class="preview">
                          <a href="{{ asset('theme/single-video.html') }}" class="play-btn"></a>
                        </div>
                        <div class="title_row row m0"><a href="{{ asset('theme/single-video.html') }}">Duis aute irure dolor in adipsicing elit</a></div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="row inner m0">
                        <div class="preview_img">
                          <img src="{{ asset('theme/images/menu/3.jpg') }}" alt="" class="preview">
                          <a href="{{ asset('theme/single-video.html') }}" class="play-btn"></a>
                        </div>
                        <div class="title_row row m0"><a href="{{ asset('theme/single-video.html') }}">Duis aute irure dolor in adipsicing elit</a></div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="row inner m0">
                        <div class="preview_img">
                          <img src="{{ asset('theme/images/menu/4.jpg') }}" alt="" class="preview">
                          <a href="{{ asset('theme/single-video.html') }}" class="play-btn"></a>
                        </div>
                        <div class="title_row row m0"><a href="{{ asset('theme/single-video.html') }}">Duis aute irure dolor in adipsicing elit</a></div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="extra_pages_icon"></span>Extra pages
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ asset('theme/login.html') }}">Login</a></li>
                <li><a href="{{ asset('theme/signup-popup.html') }}">Sign Up</a></li>
                <li><a href="{{ asset('theme/single-video.html') }}">Single Video</a></li>
                <li><a href="{{ asset('theme/page-author.html') }}">Auther Profile</a></li>
                <li><a href="{{ asset('theme/category.html') }}">Category Page</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
        <ul class="nav navbar-nav navbar-right login_drop">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="login_icon"></span> My Account
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ asset('theme/login.html') }}">Login</a></li>
              <li><a href="{{ asset('theme/signup-popup.html') }}">Sign Up</a></li>
              <li><a href="{{ asset('theme/page-author.html') }}">Auther Profile</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.container-fluid -->
    </nav> <!--Navigation-->
  {% endblock menu %}

  {# Le header, vide ici, sera remplacer dans les différentes pages #}
  <header>
    {% block header %}
      {% include "Includes/header.html.twig" %}
    {% endblock header %}
  </header>

  {# Contient les messages d'alertes et le contenu de la page #}
  {% block container %}
    {#
      Ici on affiche des messages flashs s'il y en a.
      Il s'agit de messages stockés en session et immédiatement effacés.
      Pratique pour afficher des petites infos, alertes, etc
      Plus d'infos : https://symfony.com/doc/3.4/controller.html#flash-messages
    #}
    {% block flashmessage %}
      {% for label, messages in app.flashes() %}
        {% for message in messages %}
          <div class="alert alert-{{ label }}">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endfor %}
    {% endblock flashmessage %}


    {# Ici on affiche le contenu du site #}
    <div id="content" class="clear_both">
      {% block content %}
      {% endblock content %}
    </div>
  {% endblock container %}


  <div id="footer" class="mt-5 clear_both">
    {% block footer %}
      {% include "Includes/footer.html.twig" %}
      {#&copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.#}
    {% endblock %}
  </div>

{% endblock body %}

{% block javascripts %}
  {{ parent() }}
  {# Dans le DM du Prof #}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>

  {# Dans le Thème acheté :
   https://themeforest.net/item/meta-video-photovideoaudio-uploading-social-html-template/20826346?_ga=2.180277540.1274598869.1565082986-1699288305.1565031820#}
    <!--[if lt IE 9]>
    <script src="{{ asset('theme/js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('theme/js/respond.min.js') }}"></script>
    <![endif]-->
    <!--jQuery, Bootstrap and other vendor JS-->
    <!--jQuery-->
    <script src="{{ asset('theme/js/jquery-3.2.1.min.js') }}"></script>
    <!--Bootstrap JS-->
    <script src="{{ asset('theme/js/bootstrap.min.js') }}"></script>
    <!--jScroll-->
    <script src="{{ asset('theme/js/jquery.jscroll.min.js') }}"></script>
    <!--Magnific Popup-->
    <script src="{{ asset('theme/js/jquery.magnific-popup.min.js') }}"></script>
    <!--Bootstrap Select-->
    <script src="{{ asset('theme/vendors/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
    <!--Theme JS-->
    <script src="{{ asset('theme/js/theme.js') }}"></script>
  {# FIN Dans le Thème acheté #}
{% endblock javascripts %}