{% extends "base.html.twig" %}

{% block stylesheets %}
    <!--Bootstrap and Other Vendors-->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/theme-magnific-popup.css') }}">

    <link rel="stylesheet" href="{{ asset('theme/vendors/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('theme/vendors/bootstrap-select/css/bootstrap-select.min.css') }}" media="screen">

    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>

    <!-- Feuilles de Styles du THEME -->
    <link rel="stylesheet" href="{{ asset('css/theme-style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/theme-responsive.css') }}">

    {# BOOTSTRAP #}
    {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">#}

    {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">#}

    {# MA Feuille de Styles #}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}"/>
{% endblock %}

{% block body %}

    {# Le menu #}
    {% block menu %}
        {% include "Includes/menu.html.twig" %}
    {% endblock menu %}

    {# Le header, vide ici, sera remplacer dans les différentes pages #}
    <header>
        {% block header %}
            {#{% include "Includes/header.html.twig" %}#}
        {% endblock header %}
    </header>

    {# Contient les messages d'alertes et le contenu de la page #}
    {% block container %}
        {#
          Ici on affiche des messages flashs s'il y en a.
          Il s'agit de messages stockés en session et immédiatement effacés.
          Pratique pour afficher des petites infos, alertes, etc
          Plus d'infos : https://symfony.com/doc/3.4/controller.html#flash-messages
        #}
        {% block flashmessage %}
            {% for label, messages in app.flashes() %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock flashmessage %}


        {# Ici on affiche le contenu du site #}
        <div class="clear_both">
            {% block content %}
            {% endblock content %}
        </div>
    {% endblock container %}


    <div id="footer" class="mt-5 clear_both">
        {% block footer %}
            {% include "Includes/footer.html.twig" %}
            {#&copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.#}
        {% endblock %}
    </div>

    {#<div id="preloader">#}
    {#<div id="status">&nbsp;</div>#}
    {#</div>#}

{% endblock body %}

{% block javascripts %}


    {#Dans le DM du Prof#}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
            integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
            crossorigin="anonymous"></script>

    {#DEBUT : Dans le Thème acheté :#}
    {#https://themeforest.net/item/meta-video-photovideoaudio-uploading-social-html-template/20826346?_ga=2.180277540.1274598869.1565082986-1699288305.1565031820#}
    <!--[if lt IE 9]>
    <script src="{{ asset('theme/js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('theme/js/respond.min.js') }}"></script>
    <![endif]-->
    <!--jQuery, Bootstrap and other vendor JS-->
    <!--jQuery-->
    <script src="{{ asset('theme/js/jquery-3.2.1.min.js') }}"></script>
    <!--Bootstrap JS-->
    <script src="{{ asset('theme/js/bootstrap.min.js') }}"></script>
    <!--jScroll-->
    <script src="{{ asset('theme/js/jquery.jscroll.min.js') }}"></script>
    <!--Magnific Popup-->
    <script src="{{ asset('theme/js/jquery.magnific-popup.min.js') }}"></script>
    <!--Bootstrap Select-->
    <script src="{{ asset('theme/vendors/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
    <!--Theme JS-->
    <script src="{{ asset('theme/js/theme.js') }}"></script>
    {#FIN : Dans le Thème acheté#}


    {# Temps total du track #}
    <script>
        $(function () {
            $('.audio-player').each(function () {

                var player = $(this).find("audio");
                $(this).find(".total-time").html(formatTime(player[0].duration));

            });
        });

        function formatTime(time) {
            const min = Math.floor(time / 60);
            const sec = Math.floor(time % 60);
            return min + ':' + ((sec < 10) ? ('0' + sec) : sec);
        }
    </script>

    {#<script src="{{ asset('js/app.js') }}"></script>      Ne fonctionne pas !!!??? #}

{% endblock %}


