{% extends "/layout.html.twig" %}

{% block content %}
    <h1>Télécharger votre musique</h1>
    {#form_start va afficher la balise <form>#}
    {{ form_start(newTrackForm) }}
    {# On choisi l'odre des éléments (sinon si on ajoute un bouton il se mettra avant les champs) #}
        {{ form_row(newTrackForm.title) }}

        {#{{ form_label(newTrackForm.track, 'Votre création (taille max : 2048 KiB)') }}#}
        {{ form_row(newTrackForm.track) }}

    <button type="submit" class="btn-default">Ajouter</button>
    {{ form_end(newTrackForm) }}
{% endblock content %}