{% extends "/layout.html.twig" %}

{% block title %}
    {{ parent() }} | Profil membre
{% endblock %}

{% block content %}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    {# Header : titre + fil d'ariane #}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    <section class="row page_cover">
        <div class="container">
            <div class="row m0">
                <h1>Détails d'un membre</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li class="active">Détails d'un membre</li>
                </ol>
            </div>
        </div>
    </section>

    {#Ruban#}
    {% include "Includes/ribbon.html.twig" %}

    <div class="container">
        <div class="row">
            {#<h2 class="mt-5 mb-5 text-center">Profil d'un membre</h2>#}

            {#Infos sur le membre (pseudo + photo#}
            <div class="col-sm-5 video_post text-center mt-5">                      {# classe enlevée : post_page_uploads #}

                <div class="w-90">
                    <div>
                        <h2 class="fleft">Pseudo : </h2>
                        <h2 class="fright bleu">{{ user.pseudo }}</h2>
                    </div>
                    <div class="clear_both">
                        <h2 class="fleft">Prénom :</h2>
                        <h2 class="fright bleu">{{ user.firstname }}</h2>
                    </div>
                    <div class="clear_both">
                        <h2 class="fleft">Nombre de tracks :</h2>
                        <h2 class="fright bleu">{{ pagination.getTotalitemCount }}</h2>
                    </div>
                </div>
                {#<p>#}
                {# Photo/image actuelle #}
                {#{% if user.photo is defined %}#}
                {#{% if user.photo != NULL %}#}
                {#<img src="{{ asset(img_user_directory/app.user.photo) }}.jpg" alt="Photo/image de profil"#}
                {#<img src="{{ asset(img_user_directory) }}/{{ user.photo }}.jpg"#}
                {#alt="Photo/image de profil"#}
                {#class="cast img-responsive img_profil">#}
                {#{% elseif user.sexe == 2 %}#}
                {#<img src="{{ asset('images/femme.png') }}" alt="Photo/image de profil (femme)"#}
                {#class="cast img-responsive img_profil">#}
                {#{% elseif user.sexe == 1 %}#}
                {#<img src="{{ asset('images/homme.png') }}" alt="Photo/image de profil (homme)"#}
                {#class="cast img-responsive img_profil">#}
                {#{% else %}#}
                {#<img src="{{ asset('images/sexe_unknowed.png') }}"#}
                {#alt="Photo/image de profil (sexe non connu)"#}
                {#class="cast img-responsive img_profil">#}
                {#{% endif %}#}
                {#{% endif %}#}
                {#</p>#}
            </div>

            {#Tracks mis en ligne par le membre#}
            <div class="col-sm-7 sidebar video_post">              {# classe enlevée : sidebar2 #}

                <h2 class="text-center mb-5">Tracks mis en ligne par le membre</h2>

                <div class="w_50 float-left">
                    {% if pagination.getTotalitemCount == 0 %}
                        <h3 class="mb-5">Aucune composition musicale pour le moment, importez la votre : </h3>
                        <a href="{{ path('newtrack', {'num' : 0, 'id1' : 0}) }}">
                            <div class="inner row m0 text-center">
                                {#<h2>Upload From PC</h2>#}
                                {#<h6>Via Frontend Uploader</h6>#}
                                <img src="{{ asset('theme/images/btn/upload-1.png') }}" alt="Lien uploader une musique">
                                <h4>Choisissez votre compo à partager !</h4>
                                {#<h5>or drag &amp; drop files</h5>#}
                            </div>
                        </a>
                    {% endif %}

                    {% if pagination.getTotalitemCount > 0 %}
                        {% for track in pagination %}
                            {# on peut aussi ajouter la condition à l'intérieur : {% for track2 in tracks if track2.id1  == track.id%} mais on ne peut pas ut. loop.index ?? #}

                            {#{% if track.actif == 1 %}     Fait dans le CONTROLLER !! Sinon on ne peut pas savoir le total  #}

                            {#{% if track.user.id == user.id %}             Fait dans le CONTROLLER !! Sinon on ne peut pas savoir le total  #}
                            {% include "Includes/viewTrack2.html.twig" %}
                            {#{% endif %}#}
                            {#{% endif %}#}
                        {% endfor %}
                        <div class="navigation ml_30">
                            {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
                        </div>
                    {% else %}
                        <p>Aucun résultat</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
