{% extends "/layout.html.twig" %}

{% block title %}
    {{ parent() }} | Profil membre
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include "Includes/usermenu.html.twig" %}

            <h1 class="mt-5 mb-5 text-center">Profil d'un mombre</h1>

            {{ form_start(userInfoForm, {'attr': {'class': 'container-fluid login_form auth_form'}}) }}

            <div class="form-inner row">

                <div class="form-body row m0 mb-5">

                    <p>{{ form_errors(userInfoForm.pseudo) }}</p>
                    {{ form_row(userInfoForm.pseudo, {'attr': {'class': 'form-control'}}) }}

                    <p>{{ form_errors(userInfoForm.firstName) }}</p>
                    {{ form_row(userInfoForm.firstName, {'attr': {'class': 'form-control'}}) }}

                    <p>{{ form_errors(userInfoForm.lastName) }}</p>
                    {{ form_row(userInfoForm.lastName, {'attr': {'class': 'form-control'}}) }}

                    <p>{{ form_errors(userInfoForm.photo) }}</p>
                    {{ form_row(userInfoForm.photo, {'attr': {'class': 'form-control'}}) }}

                    <p>
                        {# Photo/image actuelle #}
                        {% if app.user.photo is defined %}
                            {% if app.user.photo != NULL %}
                                {#<img src="{{ asset(img_user_directory/app.user.photo) }}.jpg" alt="Photo/image de profil"#}
                                <img src="{{ asset(img_user_directory) }}/{{ app.user.photo }}.jpg"
                                     alt="Photo/image de profil"
                                     class="cast img-responsive img_profil">
                            {% endif %}
                        {% endif %}
                    </p>

                    {#<button type="submit" class="btn-default">Enregistrer</button>#}
                    <input type="submit" value="Enregistrer" class="btn btn-default form-control">

                    {{ form_end(userInfoForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
