{% extends '/layout.html.twig' %}

{% block title %}{{ parent() }} / Profile{% endblock title %}

{% block content %}

    {% include "Includes/adminusersmenu.html.twig" %}

    {% if is_granted('ROLE_ADMIN') or app.user == user %}
        {#MOI : Faux !!!#}
        {# form_start va afficher la balise <form> #}
        {#{{ form_start(formBook, {'attr': {'class': 'user-form'}}) }}#}
        {#{{ form_errors(formBook) }}#}
        {#{{ form_row(formBook.title) }}#}
        {#{{ form_row(formBook.author) }}#}
        {#<button class="add-profile-image" type="button">+ Ajouter</button>#}
        {#{{ form_row(formBook.submit) }}    #}{#   PROF : le champ submit n'existe pas dans le form mais est affiché dans le template (donc erreur). Attention aux copié-collé#}
        {#{{ form_widget(formBook._token) }}#}
        {#{{ form_end(formBook, {'render_rest' : false}) }}#}


        {#LUCAS : bcp + simple !!! Mais comment il va chercher la traduction ??? (marche si on met un espace ds champ title #}
        {% form_theme formBook 'bootstrap_4_layout.html.twig' %}        {# Donner du style au form #}
        {{ form_start(formBook) }}      {# form_start va afficher la balise <form>  -  Pr ajouter une classe : {{ form_start(formBook, {'attr': {'class': 'user-form'}}) }}#}
        {{ form_widget(formBook) }}
        {{ form_end(formBook) }}        {# ferme la balise <form> #}
    {% endif %}

{% endblock %}
