{% extends "/layout.html.twig" %}

{% block title %}
    {{ parent() }} | Admin : Liste des membres
{% endblock %}

{% block content %}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    {# Header : titre + fil d'ariane #}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    <section class="row page_cover">
        <div class="container">
            <div class="row m0">
                <h1>Liste des membres</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('admin') }}">Administration</a></li>
                    <li class="active">Liste membres</li>
                </ol>
            </div>
        </div>
    </section>

    {#Ruban#}
    {% include "Includes/ribbon.html.twig" %}

    <div class="container">
        <div class="row">
            {% include "Includes/adminusersmenu.html.twig" %}

            <h2>Liste des membres inscrits sur le site</h2>

            <div>
                {# Formulaire de recherche #}
                <form method="GET">
                    <input type="text" class="form-control mb-5" placeholder="Partie du nom / prénom / pseudo..."
                           name="query"
                           aria-label="search" aria-describedby="search-button">
                    <button class="btn btn-info" type="submit">Rechercher</button>
                </form>

                {% if recherche != NULL %}
                    <p>Résultat(s) de la recherche dans le nom, prénom ou pseudo avec = "<b>{{ recherche }}</b>"</p>
                {% endif %}

                {# On affiche ici la liste de tous les utilisateurs du site - et si une recherche est lancée la liste des résultats #}
                {% if pagination.getTotalitemCount > 0 %}
                    <table class="table">
                        <thead>
                        <tr>
                            {#<th scope="col">#</th>#}
                            <th scope="col">Email</th>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Photo</th>
                            <th scope="col">Roles</th>
                            <th scope="col">Modifier les Roles</th>
                            <th scope="col">Actif ? (cliquez pour modifier)</th>
                            <th scope="col">Date de création</th>
                            <th scope="col">Voir le membre sur la page du Front</th>
                        </tr>
                        </thead>

                        <tbody>


                        {% for user in pagination %}
                            <tr {% if loop.index is odd %} class="color" {% endif %}> {# on teste si l'index est pair ou impair pour changer la classe : une ligne sur 2 sera de couleur #}
                                <td>{{ user.email }}</td>
                                <td>{{ user.pseudo }}</td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.photo }}</td>

                                <td>
                                    {% if user.roles[0] is defined %}
                                        {% if user.roles[0] == 'ROLE_USER_PENDING' %}
                                            <p>
                                                <img src="{{ asset('images/inactif.png') }}"
                                                     alt="Utilisateur inactif, l'activer">
                                                Attente validation
                                            </p>
                                        {% endif %}
                                        {% if user.roles[0] == 'ROLE_USER' %}
                                            </p>
                                            <img src="{{ asset('images/actif.png') }}"
                                                 alt="Utilisateur actif, l'inactiver">
                                            Membre
                                            </p>
                                        {% endif %}
                                    {% endif %}
                                    {% if user.roles[1] is defined %}
                                        {% if user.roles[1] == 'ROLE_ADMIN' %}
                                            <p>
                                                <img src="{{ asset('images/admin.jpg') }}"
                                                     alt="Utilisateur inactif, l'activer">
                                                Admin
                                            </p>
                                        {% endif %}
                                    {% endif %}
                                </td>

                                <td>
                                    {#Si Membre (non pending) on peut le passer Admin ou l'enlever#}
                                    {% if user.roles[0] == 'ROLE_USER' %}
                                        {#Si Admin#}
                                        {% if user.roles[1] is defined %}
                                            {% if user.roles[1] == 'ROLE_ADMIN' %}
                                                <p>

                                                    <a href="{{ path('modifRolesUser', {'id' : user.id, 'role' : 1 }) }}">
                                                        <img src="{{ asset('images/actif.png') }}"
                                                             alt="Mettre rôle utilisateur : Membre">
                                                        Enlever admin
                                                    </a>
                                                </p>
                                            {% endif %}
                                            {#Sinon : si non admin#}
                                        {% else %}
                                            <p>
                                                <a href="{{ path('modifRolesUser', {'id' : user.id, 'role' : 2 }) }}">
                                                    <img src="{{ asset('images/admin.png') }}"
                                                         alt="Mettre rôle utilisateur : Admin">
                                                    Mettre en admin
                                                </a>
                                            </p>
                                        {% endif %}
                                    {% endif %}

                                    {#<a href="{{ path('modifRoles', {'id' : user.id, 'roles' : user.roles}) }}">#}
                                    {#<img src="{{ asset('images/inactif.png') }}"#}
                                    {#alt="Utilisateur inactif, l'activer">#}
                                    {#</a>#}
                                </td>

                                <td>
                                    {% if user.actif == 0 %}
                                        <a href="{{ path('switchActif', {'entity' : 'user', 'id' : user.id, 'actif' : 0}) }}">
                                            <img src="{{ asset('images/inactif.png') }}"
                                                 alt="Utilisateur inactif, l'activer">
                                        </a>
                                    {% else %}
                                        <a href="{{ path('switchActif', {'entity' : 'user', 'id' : user.id, 'actif' : 1}) }}">

                                            <img src="{{ asset('images/actif.png') }}"
                                                 alt="Utilisateur actif, l'inactiver">
                                        </a>
                                    {% endif %}
                                </td>
                                <td>{{ user.creationDate|date("d/m/Y - H:i") }}</td>
                                <td>
                                    <a href="{{ path('users_profil', {'id' : user.id}) }}">
                                        <img src="{{ asset('images/eye.png') }}"
                                             alt="Voir profil dans page du front">
                                    </a>
                                </td>
                                {#<td>Email : <a href="{{ baseUrlToSendMail }}/{{ user.email }}">{{ user.email }}</a></td>#}
                                {#<td><a href="{{ path('users_profile', {'id' : student.id}) }}">Voir le profil</a></td>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="navigation">
                        {# Pour donner un style à la navigation #}
                        {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
                        {#{{ knp_pagination_render(pagination) }}#}
                    </div>

                {% else %}
                    <p>Aucun résultat</p>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock content %}
