{% extends "/layout.html.twig" %}

{% block title %}
    {{ parent() }} | Admin : Liste des tracks
{% endblock %}

{% block content %}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    {# Header : titre + fil d'ariane #}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    <section class="row page_cover">
        <div class="container">
            <div class="row m0">
                <h1>Liste des tracks</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('admin') }}">Administration</a></li>
                    <li class="active">Liste tracks</li>
                </ol>
            </div>
        </div>
    </section>

    {#Ruban#}
    {% include "Includes/ribbon.html.twig" %}

<div class="container">
    <div class="row">
        {% include "Includes/adminusersmenu.html.twig" %}

        <h2>Liste des tracks enregistrés sur le site</h2>

        <div>
            {# Formulaire de recherche #}
            <form method="GET">
                <input type="text" class="form-control mb-5" placeholder="Partie du titre du track..." {#OU pseudo/prénom d'un membre..." ??? #}
                       name="query"
                       aria-label="search" aria-describedby="search-button">
                <button class="btn btn-info" type="submit">Rechercher</button>
            </form>


            {% if recherche != NULL %}
                <p>Résultat(s) de la recherche dans le titre des track avec = "<b>{{ recherche }}</b>"</p>
            {% endif %}


            {# On affiche ici la liste de tous les tracks mis sur le site - (et si une recherche est lancée la liste des résultats #}
            {% if pagination.getTotalitemCount > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        {#<th scope="col">#</th>#}
                        <th scope="col">Titre</th>
                        <th scope="col">Pseudo User</th>
                        <th scope="col">Email user</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Actif ? (cliquez pour modifier)</th>
                        <th scope="col">Voir le track sur la page du Front (si actif)</th>

                    </tr>
                    </thead>

                    <tbody>
                    {% for track in pagination %}
                        <tr {% if loop.index is odd %} class="color" {% endif %}> {# on teste si l'index est pair ou impair pour changer la classe : une ligne sur 2 sera de couleur #}
                            <td>{{ track.title }}</td>
                            <td>{{ track.user.pseudo }}</td>
                            <td>{{ track.user.email }}</td>
                            <td>{{ track.creationDate|date("d/m/Y - H:i") }}</td>
                            <td>
                                {% if track.actif == 0 %}
                                    <a href="{{ path('switchActif', {'entity' : 'track', 'id' : track.id, 'actif' : 0}) }}">
                                        <img src="{{ asset('images/inactif.png') }}" alt="Track inactif, l'activer">
                                    </a>
                                {% else %}
                                    <a href="{{ path('switchActif', {'entity' : 'track', 'id' : track.id, 'actif' : 1}) }}">

                                        <img src="{{ asset('images/actif.png') }}" alt="Track actif, l'inactiver">
                                    </a>

                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('seetrack', {'id' : track.id }) }}"
                                   title="Voir le track de musique dans une page du front">

                                <img src="{{ asset('images/eye.png') }}"
                                         alt="Utilisateur inactif, l'activer">
                                </a>
                            </td>

                            {#<td>Email : <a href="{{ baseUrlToSendMail }}/{{ user.email }}">{{ user.email }}</a></td>#}
                            {#<td><a href="{{ path('users_profile', {'id' : student.id}) }}">Voir le profil</a></td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="navigation">
                    {# Pour donner un style à la navigation #}
                    {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
                    {#{{ knp_pagination_render(pagination) }}#}
                </div>

            {% else %}
                <p>Aucun résultat</p>
            {% endif %}

        </div>

    </div>
</div>
        {% endblock content %}
