{% extends "/layout.html.twig" %}

{% block title %}AppBundle:Administration:administrationUsers{% endblock title %}

{% block content %}

  {% include "Includes/adminusersmenu.html.twig" %}

  <div>

      {# Formulaire de recherche #}
      <form method="post">     {# action="{{ path('administrationusers') }}" ne sert à rien !!! Méthode GET ou POST ??? On ne voit pas les param avec POST ds URL !! #}
          <label for="name2">Nom ou prénom :</label>
          <input type="text" id="name" name="name" value="" />      {#  et non name="_name" !!! (pour le login !???)      value="{{ name }}" ne fonctionne pas, ms comment garder la saisie ??? #}

          <button type="submit">Chercher</button>
      </form>

      {#LUCAS#}
      {#<form method="GET">#}
          {#<div class="input-group mb-3">#}
              {#<input type="text" class="form-control" placeholder="Rechercher ..." name="query" aria-label="search" aria-describedby="search-button">#}
              {#<div class="input-group-append">#}
                  {#<button class="btn btn-outline-secondary" id="search-button" type="submit">Rechercher</button>#}
              {#</div>#}
          {#</div>#}
      {#</form>#}

      <p>Recherche = {{ recherche }}</p>

      {# On affiche ici la liste de tous les utilisateurs du site - et si une recherche est lancée la liste des résultats #}
      {% if pagination.getTotalitemCount > 0 %}
          <table>
              <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Email</th>
              </tr>
              {% for user in pagination %}
                  <tr {% if loop.index is odd %} class="color" {% endif %}> {# on teste si l'index est pair ou impair pour changer la classe : une ligne sur 2 sera de couleur #}
                      <td>{{ user.lastName }}</td>
                      <td>{{ user.firstName }}</td>
                      <td>{{ user.email }}</td>
                      {#<td>Email : <a href="{{ baseUrlToSendMail }}/{{ user.email }}">{{ user.email }}</a></td>#}
                      {#<td><a href="{{ path('users_profile', {'id' : student.id}) }}">Voir le profil</a></td>#}
                  </tr>
              {% endfor %}
          </table>
          <div class="navigation">
              {{ knp_pagination_render(pagination) }}
          </div>

      {% else %}
          <p>Aucun résultat</p>
      {% endif %}

      {# Sans PAGINATION #}
      {#<table>#}
          {#<tr>#}
              {#<th>Nom</th>#}
              {#<th>Prénom</th>#}
              {#<th>Email</th>#}
          {#</tr>#}
          {#{% for user in users %}#}
              {#<tr {% if loop.index is odd %} class="color" {% endif %}> #}{# on teste si l'index est pair ou impair pour changer la classe : une ligne sur 2 sera de couleur #}
                  {#<td>{{ user.lastName }}</td>#}
                  {#<td>{{ user.firstName }}</td>#}
                  {#<td>{{ user.email }}</td>#}
                  {#<td>Email : <a href="{{ baseUrlToSendMail }}/{{ user.email }}">{{ user.email }}</a></td>#}
                  {#<td><a href="{{ path('users_profile', {'id' : student.id}) }}">Voir le profil</a></td>#}
              {#</tr>#}
          {#{% endfor %}#}
      {#</table>#}

  </div>

{% endblock content %}
