{% extends "/layout.html.twig" %}

{% block title %}
    {{ parent() }} | Connexion
{% endblock %}

{% block content %}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    {# Header : titre + fil d'ariane #}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    <section class="row page_cover">
        <div class="container">
            <div class="row m0">
                <h1>Connexion Entre Dièses et Bémols</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li class="active">Connexion</li>
                </ol>
            </div>
        </div>
    </section>

    {#Ruban#}
    {% include "Includes/ribbon.html.twig" %}

    <div class="container">
        <div class="row">

            <h2 class="mt-5 mb-5 text-center">Connexion Entre Dièses et Bémols</h2>

            <form class="container-fluid login_form auth_form h_400" action="{{ path('login') }}" method="post" role="form">
                <div class="form-inner row mb-5">
                    <div class="login_options row m0">
                        <div class="options_header row m0">
                            <a href="{{ path('home') }}"><img src="{{ asset('images/logoDieseBemol.png') }}"
                                                              alt="logo du site Entre Dièses et Bémols"
                                                              class="mb-5"></a>
                        </div>
                    </div>
                    {% if error %}
                        {% if error.code == 0 %}
                            <div class="alert alert-danger">Mauvais identifiants</div>
                        {% endif %}
                    {% endif %}
                    <div class="form-body row m0">
                        <input type="email" class="form-control" placeholder="Addresse Email" name="_username"
                               value="{{ last_username }}">
                        <input type="password" class="form-control" placeholder="Mot de passe" name="_password">
                        <input type="submit" value="Se connecter" class="btn btn-default form-control">
                    </div>
                </div>
            </form>

            <div class="w-50 m-auto">
                <div class="col-md-6 text-center">
                    <a href="{{ path('register') }}">
                        <button class="btn btn-primary mb-5 h_50">Créer un compte</button>
                    </a>
                </div>
                <div class="col-md-6 text-center">
                    <a href="{{ path('lostpassword') }}">
                        <button class="btn btn-warning mb-5 h_50">Mot de passe oublié</button>
                    </a>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}