{% extends "/layout.html.twig" %}

{% block title %}
    {{ parent() }} | Redéfinir le mot de passe
{% endblock %}

{% block content %}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    {# Header : titre + fil d'ariane #}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    <section class="row page_cover">
        <div class="container">
            <div class="row m0">
                <h1>Redefinir un mot de passe Entre Dièses et Bémols</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li class="active">Redefinir un mot de passe</li>
                </ol>
            </div>
        </div>
    </section>

    {#Ruban#}
    {% include "Includes/ribbon.html.twig" %}

    <div class="container">
        <div class="row">

            <h2 class="mt-5 mb-5 text-center">Redefinir un mot de passe Entre Dièses et Bémols</h2>

            {#{{ form(passwordForm) }}#}

    {{ form_start(passwordForm, {'attr': {'class': 'container-fluid login_form auth_form'}}) }}

    <div class="form-inner row">

        <div class="form-body row m0 mb-5">

            <p>{{ form_errors(passwordForm.plainPassword.first) }}</p>
            {{ form_widget(passwordForm.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Nouveau mot de passe'}}) }}

            <p>{{ form_errors(passwordForm.plainPassword.second) }}</p>
            {{ form_widget(passwordForm.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Répétez mot de passe'}}) }}

            <input type="submit" value="Enregistrer" class="btn btn-default form-control">

            {{ form_end(passwordForm) }}


        </div>
    </div>

{% endblock content %}