{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block content %}

    {# Pour ajouter un track avec un seul son (compo de départ) #}
    <section class="row upload_media"> <!--Upload Form-->
        <div class="container">
            <div class="row">
                <h1>Entre Dièses et Bémols</h1>
                <h2>Partager vos créations !</h2>
                <div class="upload_media_row">
                    {#<form action="#" id="upload_media" class="videos_from">#}
                    {#<div class="inner row m0">#}
                    {#<h2>Sync Videos From</h2>#}
                    {#<a href="#"><img src="{{ asset('theme/images/btn/youtube.png') }}" alt=""></a>#}
                    {#<a class="vimeo" href="#"><img src="{{ asset('theme/images/btn/vimeo.png') }}" alt=""></a>#}
                    {#<a class="dailymotion" href="#"><img src="{{ asset('theme/images/btn/dailymotion.png') }}"#}
                    {#alt=""></a>#}
                    {#</div>#}
                    {#</form>#}
                    {#<a class="or_btn" href="#">or</a>#}
                    <div id="upload_media_2">
                        {# Num = 0 (car compo de départ avec un seul son) - Id1 = 0 (car pas de track avant) #}
                        <a href="{{ path('newtrack', {'num' : 0, 'id1' : 0}) }}">
                            <div class="inner row m0">
                                {#<h2>Upload From PC</h2>#}
                                {#<h6>Via Frontend Uploader</h6>#}
                                <img src="{{ asset('theme/images/btn/upload-1.png') }}" alt="Lien uploader une musique">
                                <h4>Choisissez votre compo à partager !</h4>
                                {#<h5>or drag &amp; drop files</h5>#}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <ul class="nav nav-justified ribbon">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </section> <!--Ribbon-->

    {# Pour voir les tracks mis sur le site #}
    <section class="row recent_uploads">
        <div class="container">
            <div class="row title_row">
                <h2>Dernières pistes de musique partagées</h2>
            </div>
            {#<audio>#}
            {#<source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/Swing_Jazz_Drum.mp3" type="audio/mpeg">#}
            {#<source src="../audio/revalite.mp3">#}
            {#</audio>#}

            <div class="row media-grid content_video_posts">

                {# Avec PAGINATION #}
                <h3>{{ pagination.getTotalitemCount }} compos et tracks avec des sons en plus à écouter !</h3>

                {% if pagination.getTotalitemCount > 0 %}
                    {# On affiche les tracks par ordre antéchronologique (indiqué dans le HomeController sur la creationDate) #}
                    {% for track in pagination %}
                        <article class="col-sm-4 video_post postType3">
                            {% include "Includes/viewTrack.html.twig" %}

                            {#<div class="inner row m0 audio-player">#}
                            {# On est obligé de répéter tout dans les classes ???!!! #}
                            {#<div class="inner row m0 audio-player">#}

                                {#<a href="{{ path('seetrack', {'id' : track.id}) }}"#}
                                   {#title="Voir le track dans un onglet">#}
                                    {#<div class="row screencast m0">#}
                                        {# img_track_directory : variable dans parameters.yml #}
                                        {#<img src="../{{ img_track_directory }}/{{ track.image }}.jpg" alt="Image du track de musique"#}
                                        {#<img src="{{ asset(img_track_directory) }}/{{ track.image }}.jpg" alt="Image du track de musique"#}
                                             {#class="cast img-responsive img_track">#}
                                        {#<div class="play_btn"></div>#}
                                        {#<div class="media-length total-time">00:00</div>#}
                                    {#</div>#}
                                    {#<h3 class="row m0">#}
                                        {#{{ track.title }}#}
                                        {#{% if track.num > 0 %}#}
                                            {#(+{{ track.num }})#}
                                        {#{% endif %}#}
                                    {#</h3>#}
                                {#</a>#}

                                {#<div {% if track.num == 0 %} class="row m0 post_data track_num0"#}
                                     {#{% else %} class="row m0 post_data" {% endif %}>#}

                                    {#title et track = noms des variables de l'entité Track#}

                                    {#On va chercher dans la table Track le user (qui est un objet) ds lequel on va chercher le pseudo#}
                                    {#{% if track.user.pseudo is defined %}#}
                                        {#<h4>{{ track.user.pseudo }}</h4>#}
                                    {#{% endif %}#}


                                    {#<div class="date">Publié le : {{ track.creationDate|date("d/m/Y") }}</div>#}
                                    {#<div class="fright views"><a href="#"><img#}
                                    {#src="{{ asset('theme/images/icons/views.png') }}"#}
                                    {#alt="">3,45,346</a></div>#}
                                    {#<audio controls>#}
                                        {#Votre navigateur ne supporte pas l'élément <code>audio</code>#}
                                        {#<source src="{{ asset(track_directory) }}//{{ track.track }}.mp3"/>#}
                                        {#String $tpsTrack = {{ track.track }}#}
                                    {#</audio>#}

                                    {#<a href="{{ path('download', {'id' : track.id}) }}">#}
                                        {#<img src="{{ asset('images/download.png') }}" height="50px"#}
                                             {#alt="Lien télécharger track de musique">#}
                                    {#</a>#}
                                {#</div>#}

                            {#</div>#}
                        </article>
                    {% endfor %}

                    <div class="navigation ml_30">
                        {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
                    </div>

                {% else %}
                    <p>Aucun résultat</p>
                {% endif %}

            </div>
        </div>
    </section> <!--Recent Upload-->

{% endblock content %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
