{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block content %}

    {# UPLOAD : Pour ajouter un track avec un seul son (compo de départ) #}
    <section class="row upload_media">
        <div class="container">
            <div class="row">
                <h1>Entre Dièses et Bémols</h1>

                <h2>Partager vos créations !</h2>

                <div class="upload_media_row">
                    {#<form action="#" id="upload_media" class="videos_from">#}
                    {#<div class="inner row m0">#}
                    {#<h2>Sync Videos From</h2>#}
                    {#<a href="#"><img src="{{ asset('theme/images/btn/youtube.png') }}" alt=""></a>#}
                    {#<a class="vimeo" href="#"><img src="{{ asset('theme/images/btn/vimeo.png') }}" alt=""></a>#}
                    {#<a class="dailymotion" href="#"><img src="{{ asset('theme/images/btn/dailymotion.png') }}"#}
                    {#alt=""></a>#}
                    {#</div>#}
                    {#</form>#}
                    {#<a class="or_btn" href="#">or</a>#}
                    <div id="upload_media_2">
                        {# Num = 0 (car compo de départ avec un seul son) - Id1 = 0 (car pas de track avant) #}
                        <a href="{{ path('newtrack', {'num' : 0, 'id1' : 0}) }}">
                            <div class="inner row m0">
                                {#<h2>Upload From PC</h2>#}
                                {#<h6>Via Frontend Uploader</h6>#}
                                <img src="{{ asset('theme/images/btn/upload-1.png') }}" alt="Lien uploader une musique">
                                <h4>Choisissez votre compo à partager !</h4>
                                {#<h5>or drag &amp; drop files</h5>#}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <ul class="nav nav-justified ribbon">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </section> <!--Ribbon-->


    {# DERNIERS UPLOADS : Pour voir les tracks mis sur le site #}
    <section class="row recent_uploads">
        <div class="container">
            <div class="row title_row">
                <h2>Dernières pistes de musique partagées</h2>
                <!--Search Form-->
                <form action="#" role="search" class="search_form row m0 widget widget_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Here">
                        <span class="input-group-addon"><button type="submit"><img
                                        src="{{ asset('images/search.png') }}"
                                        alt=""></button></span>
                    </div>
                </form>
            </div>
            {#<audio>#}
            {#<source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/Swing_Jazz_Drum.mp3" type="audio/mpeg">#}
            {#<source src="../audio/revalite.mp3">#}
            {#</audio>#}

            <div class="row media-grid content_video_posts">

                {# Avec PAGINATION #}
                {% if pagination.getTotalitemCount == 0 %}
                    <h3 class="mb-5">Aucune composition musicale pour le moment, importez la votre : </h3>
                    <a href="{{ path('newtrack', {'num' : 0, 'id1' : 0}) }}">
                        <div class="inner row m0 text-center">
                            {#<h2>Upload From PC</h2>#}
                            {#<h6>Via Frontend Uploader</h6>#}
                            <img src="{{ asset('theme/images/btn/upload-1.png') }}" alt="Lien uploader une musique">
                            <h4>Choisissez votre compo à partager !</h4>
                            {#<h5>or drag &amp; drop files</h5>#}
                        </div>
                    </a>

                {% else %}
                    <h3>{{ pagination.getTotalitemCount }} compos et tracks avec des sons en plus à écouter !</h3>
                {% endif %}

                {% if pagination.getTotalitemCount > 0 %}
                    {# On affiche les tracks par ordre antéchronologique (indiqué dans le HomeController sur la creationDate) #}
                    {% for track in pagination %}
                        <article class="col-sm-4 video_post postType3">
                            {% include "Includes/viewTrack.html.twig" %}
                        </article>
                    {% endfor %}

                    <div class="navigation ml_30">
                        {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
                    </div>

                {% else %}
                    {#<p>Aucun résultat</p>#}
                {% endif %}

            </div>
        </div>
    </section>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
