{% extends "layout.html.twig" %}

{% block title %}
    Entre Dièses et Bémols - Accueil
{% endblock %}

{% block content %}

    <section class="row upload_media">
        <div class="container">
            <div class="row">
                <h2>Upload Media Files &amp; Share Online</h2>
                <h3>Share your momments online easily</h3>
                <div class="upload_media_row">
                    <form action="#" id="upload_media" class="videos_from">
                        <div class="inner row m0">
                            <h2>Sync Videos From</h2>
                            <a href="#"><img src="{{ asset('theme/images/btn/youtube.png') }}" alt=""></a>
                            <a class="vimeo" href="#"><img src="{{ asset('theme/images/btn/vimeo.png') }}" alt=""></a>
                            <a class="dailymotion" href="#"><img src="{{ asset('theme/images/btn/dailymotion.png') }}"
                                                                 alt=""></a>
                        </div>
                    </form>
                    <a class="or_btn" href="#">or</a>
                    <form action="#" id="upload_media_2">
                        <div class="inner row m0">
                            <h2>Upload From PC</h2>
                            <h6>Via Frontend Uploader</h6>
                            <img src="{{ asset('theme/images/btn/upload-1.png') }}" alt="">
                            <h4>Select files to upload</h4>
                            <h5>or drag &amp; drop files</h5>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section> <!--Upload Form-->

    <section class="row">
        <ul class="nav nav-justified ribbon">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </section> <!--Ribbon-->

    <section class="row search_filter">
        <div class="container">
            <div class="row m0">
                <!--Category Filter-->
                <div class="btn-group category_filter fleft">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="filter-option pull-left">All Category</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="filter_text">All Categories</span><span class="badge"></span></a>
                        </li>
                        <li><a href="#"><span class="filter_text">Art</span><span class="badge">1200</span></a></li>
                        <li><a href="#"><span class="filter_text">astrology</span><span class="badge">650</span></a>
                        </li>
                        <li><a href="#"><span class="filter_text">biography</span><span class="badge">1200</span></a>
                        </li>
                        <li><a href="#"><span class="filter_text">comedy</span><span class="badge">650</span></a></li>
                        <li><a href="#"><span class="filter_text">entertainment</span><span
                                        class="badge">1200</span></a></li>
                        <li><a href="#"><span class="filter_text">photoshop</span><span class="badge">650</span></a>
                        </li>
                        <li><a href="#"><span class="filter_text">philosophy</span><span class="badge">1200</span></a>
                        </li>
                        <li><a href="#"><span class="filter_text">nano tube</span><span class="badge">650</span></a>
                        </li>
                    </ul>
                </div>
                <!--Post Type Filter-->
                <div class="btn-group postTypeFilter fleft" data-toggle="buttons">
                    <label class="btn btn-primary postType1 active">
                        <input type="radio" name="postType" id="postType1" checked> All
                    </label>
                    <label class="btn btn-primary postType2">
                        <input type="radio" name="postType" id="postType2"> Videos
                    </label>
                    <label class="btn btn-primary postType3">
                        <input type="radio" name="postType" id="postType3"> Images
                    </label>
                    <label class="btn btn-primary postType4">
                        <input type="radio" name="postType" id="postType4"> Audios
                    </label>
                </div>
                <!--Search Form-->
                <form action="#" role="search" class="search_form fright">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Here">
                        <span class="input-group-addon"><button type="submit"><img
                                        src="{{ asset('theme/images/icons/search.png') }}" alt=""></button></span>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="row recent_uploads">
        <div class="container">
            <div class="row title_row">
                <h3>Dernières pistes de musique partagées</h3>
            </div>

            <div class="row media-grid content_video_posts">

                <article class="col-sm-4 video_post postType3">
                    <div class="inner row m0">
                        <a href="{{ path('seetrack', {'id' : 1}) }}">
                            <audio controls>
                                <source src="../audio/grand_mere.mp3"/>
                            </audio>
                        </a>
                    </div>
                </article>

                <article class="col-sm-4 video_post postType3">
                    <div class="inner row m0">
                        {#<a href="{{ path('seetrack', {'id' : 1}) }}">#}
                        {# ----------------------------------- Audio player (https://521dimensions.com/open-source/amplitudejs/docs/examples/dynamic-playlist-player.html) ------------------------ #}
                        <div id="audio_player" class="example-container">
                            <div class="left">
                                <div id="white-player">
                                    <div class="white-player-top">
                                        <div>
                                            &nbsp;
                                        </div>

                                        <div class="center">
                                            <span class="now-playing">Now Playing</span>
                                        </div>

                                        <div>
                                            <img src="https://521dimensions.com/img/open-source/amplitudejs/examples/dynamic-songs/show-playlist.svg"
                                                 class="show-playlist"/>
                                        </div>
                                    </div>

                                    <div id="white-player-center">
                                        <img data-amplitude-song-info="cover_art_url" class="main-album-art"/>

                                        <div class="song-meta-data">
                                            <span data-amplitude-song-info="name" class="song-name"></span>
                                            <span data-amplitude-song-info="artist" class="song-artist"></span>
                                        </div>

                                        <div class="time-progress">
                                            <div id="progress-container">
                                                <input type="range" class="amplitude-song-slider"/>
                                                <progress id="song-played-progress" class="amplitude-song-played-progress"></progress>
                                                <progress id="song-buffered-progress" class="amplitude-buffered-progress"
                                                          value="0"></progress>
                                            </div>

                                            <div class="time-container">
                <span class="current-time">
                  <span class="amplitude-current-minutes"></span>:<span class="amplitude-current-seconds"></span>
                </span>
                                                <span class="duration">
                    <span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
                  </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="white-player-controls">
                                        <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
                                        <div class="amplitude-prev" id="previous"></div>
                                        <div class="amplitude-play-pause" id="play-pause"></div>
                                        <div class="amplitude-next" id="next"></div>
                                        <div class="amplitude-repeat" id="repeat"></div>
                                    </div>

                                    <div id="white-player-playlist-container">
                                        <div class="white-player-playlist-top">
                                            <div>

                                            </div>
                                            <div>
                                                <span class="queue">Queue</span>
                                            </div>
                                            <div>
                                                <img src="https://521dimensions.com/img/open-source/amplitudejs/examples/dynamic-songs/close.svg"
                                                     class="close-playlist"/>
                                            </div>
                                        </div>

                                        <div class="white-player-up-next">
                                            Up Next
                                        </div>

                                        <div class="white-player-playlist">
                                            <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                                                 data-amplitude-song-index="0">
                                                <img src="https://521dimensions.com/img/open-source/amplitudejs/album-art/we-are-to-answer.jpg"/>

                                                <div class="playlist-song-meta">
                                                    <span class="playlist-song-name">Risin' High (feat Raashan Ahmad)</span>
                                                    <span class="playlist-artist-album">Ancient Astronauts &bull; We Are to Answer</span>
                                                </div>
                                            </div>
                                            <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                                                 data-amplitude-song-index="1">
                                                <img src="https://521dimensions.com/img/open-source/amplitudejs/album-art/ask-the-dust.jpg"/>

                                                <div class="playlist-song-meta">
                                                    <span class="playlist-song-name">The Gun</span>
                                                    <span class="playlist-artist-album">Lorn &bull; Ask The Dust</span>
                                                </div>
                                            </div>
                                            <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                                                 data-amplitude-song-index="2">
                                                <img src="https://521dimensions.com/img/open-source/amplitudejs/album-art/anvil.jpg"/>

                                                <div class="playlist-song-meta">
                                                    <span class="playlist-song-name">The Gun</span>
                                                    <span class="playlist-artist-album">Lorn &bull; Anvil</span>
                                                </div>
                                            </div>
                                            <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                                                 data-amplitude-song-index="3">
                                                <img src="https://521dimensions.com/img/open-source/amplitudejs/album-art/we-are-to-answer.jpg"/>

                                                <div class="playlist-song-meta">
                                                    <span class="playlist-song-name">I Came Running</span>
                                                    <span class="playlist-artist-album">Ancient Astronauts &bull; We Are to Answer</span>
                                                </div>
                                            </div>
                                            <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
                                                 data-amplitude-song-index="4">
                                                <img src="https://521dimensions.com/img/open-source/amplitudejs/album-art/soon-it-will-be-cold-enough.jpg"/>

                                                <div class="playlist-song-meta">
                                                    <span class="playlist-song-name">First Snow</span>
                                                    <span class="playlist-artist-album">Emancipator &bull; Soon It Will Be Cold Enough</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="white-player-playlist-controls">
                                            <img data-amplitude-song-info="cover_art_url" class="playlist-album-art"/>

                                            <div class="playlist-controls">
                                                <div class="playlist-meta-data">
                                                    <span data-amplitude-song-info="name" class="song-name"></span>
                                                    <span data-amplitude-song-info="artist" class="song-artist"></span>
                                                </div>

                                                <div class="playlist-control-wrapper">
                                                    <div class="amplitude-prev" id="playlist-previous"></div>
                                                    <div class="amplitude-play-pause" id="playlist-play-pause"></div>
                                                    <div class="amplitude-next" id="playlist-next"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#<a href="https://serversideup.net/courses/amplitudejs-from-the-ground-up/" class="more-on-ssu">Learn More on Server Side Up</a>#}
                            </div>
                            {#<div class="right">#}
                            {#<div class="song-to-add" song-to-add="0">#}
                            {#<img src="https://521dimensions.com/img/open-source/amplitudejs/album-art/key.jpg"/>#}

                            {#<a class="add-to-playlist-button" song-to-add="0">#}
                            {#Add To Playlist#}
                            {#</a>#}
                            {#</div>#}

                            {#<div class="song-to-add" song-to-add="1">#}
                            {#<img src="https://521dimensions.com/img/open-source/amplitudejs/album-art/guidance.jpg"/>#}

                            {#<a class="add-to-playlist-button" song-to-add="1">#}
                            {#Add To Playlist#}
                            {#</a>#}
                            {#</div>#}

                            {#<div class="song-to-add" song-to-add="2">#}
                            {#<img src="https://521dimensions.com/img/open-source/amplitudejs/album-art/die-digital.jpg"/>#}

                            {#<a class="add-to-playlist-button" song-to-add="2">#}
                            {#Add To Playlist#}
                            {#</a>#}
                            {#</div>#}

                            {#<div class="song-to-add" song-to-add="3">#}
                            {#<img src="https://521dimensions.com/img/open-source/amplitudejs/album-art/we-are-but-hunks-of-wood.jpg"/>#}

                            {#<a class="add-to-playlist-button" song-to-add="3">#}
                            {#Add To Playlist#}
                            {#</a>#}
                            {#</div>#}

                            {#<div class="song-to-add" song-to-add="4">#}
                            {#<img src="https://521dimensions.com/img/open-source/amplitudejs/album-art/from-dusk-to-dawn.jpg"/>#}

                            {#<a class="add-to-playlist-button" song-to-add="4">#}
                            {#Add To Playlist#}
                            {#</a>#}
                            {#</div>#}

                            {#<div class="song-to-add" song-to-add="5">#}
                            {#<img src="https://521dimensions.com/img/open-source/amplitudejs/album-art/soon-it-will-be-cold-enough.jpg"/>#}

                            {#<a class="add-to-playlist-button" song-to-add="5">#}
                            {#Add To Playlist#}
                            {#</a>#}
                            {#</div>#}
                            {#</div>#}
                        </div>
                        {# FIN ----------------------------------- Music player ------------------------ #}
                        {#</a>#}
                    </div>
                </article>





                <article class="col-sm-3 video_post postType3">
                    <div class="inner row m0">
                        <a href="{{ asset('theme/single-video.html') }}">
                            <div class="row screencast m0">
                                <img src="{{ asset('theme/images/media/1.jpg') }}" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                        </a>
                        <div class="row m0 post_data">
                            <div class="category"><a href="{{ asset('theme/category.html') }}"><img
                                            src="{{ asset('theme/images/icons/catagory.png') }}" alt="">Art</a></div>
                            <div class="row m0"><a href="{{ asset('theme/single-video.html') }}" class="post_title">Duis
                                    aute irure dolor in adipsicing elit</a></div>
                            <div class="fleft date">Published: 3 August, 2015</div>
                            <div class="fright views"><a href="#"><img src="{{ asset('theme/images/icons/views.png') }}"
                                                                       alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType4">
                    <div class="inner row m0">
                        <a href="{{ asset('theme/single-video.html') }}">
                            <div class="row screencast m0">
                                <img src="{{ asset('theme/images/media/2.jpg') }}" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                        </a>
                        <div class="row m0 post_data">
                            <div class="category"><a href="{{ asset('theme/category.html') }}"><img
                                            src="{{ asset('theme/images/icons/catagory.png') }}" alt="">Philosophy</a>
                            </div>
                            <div class="row m0"><a href="{{ asset('theme/single-video.html') }}" class="post_title">Duis
                                    aute irure dolor in adipsicing elit</a></div>
                            <div class="fleft date">Published: 3 August, 2015</div>
                            <div class="fright views"><a href="#"><img src="{{ asset('theme/images/icons/views.png') }}"
                                                                       alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType2">
                    <div class="inner row m0">
                        <a href="{{ asset('theme/single-video.html') }}">
                            <div class="row screencast m0">
                                <img src="{{ asset('theme/images/media/3.jpg') }}" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                        </a>
                        <div class="row m0 post_data">
                            <div class="category"><a href="{{ asset('theme/category.html') }}"><img
                                            src="{{ asset('theme/images/icons/catagory.png') }}" alt="">Comedy</a></div>
                            <div class="row m0"><a href="{{ asset('theme/single-video.html') }}" class="post_title">Duis
                                    aute irure dolor in adipsicing elit</a></div>
                            <div class="fleft date">Published: 3 August, 2015</div>
                            <div class="fright views"><a href="#"><img src="{{ asset('theme/images/icons/views.png') }}"
                                                                       alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <div class="col-sm-3 video_post advertise_betweeen_uploads">
                    <div class="inner row m0">
                        <h3>Advertise<br>Here</h3>
                    </div>
                </div>
                <article class="col-sm-3 video_post postType3">
                    <div class="inner row m0">
                        <a href="{{ asset('theme/single-video.html') }}">
                            <div class="row screencast m0">
                                <img src="{{ asset('theme/images/media/4.jpg') }}" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                        </a>
                        <div class="row m0 post_data">
                            <div class="category"><a href="{{ asset('theme/category.html') }}"><img
                                            src="{{ asset('theme/images/icons/catagory.png') }}" alt="">Science</a>
                            </div>
                            <div class="row m0"><a href="{{ asset('theme/single-video.html') }}" class="post_title">Duis
                                    aute irure dolor in adipsicing elit</a></div>
                            <div class="fleft date">Published: 3 August, 2015</div>
                            <div class="fright views"><a href="#"><img src="{{ asset('theme/images/icons/views.png') }}"
                                                                       alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType4">
                    <div class="inner row m0">
                        <a href="{{ asset('theme/single-video.html') }}">
                            <div class="row screencast m0">
                                <img src="{{ asset('theme/images/media/5.jpg') }}" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                        </a>
                        <div class="row m0 post_data">
                            <div class="category"><a href="{{ asset('theme/category.html') }}"><img
                                            src="{{ asset('theme/images/icons/catagory.png') }}" alt="">Youtube</a>
                            </div>
                            <div class="row m0"><a href="{{ asset('theme/single-video.html') }}" class="post_title">Duis
                                    aute irure dolor in adipsicing elit</a></div>
                            <div class="fleft date">Published: 3 August, 2015</div>
                            <div class="fright views"><a href="#"><img src="{{ asset('theme/images/icons/views.png') }}"
                                                                       alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType2">
                    <div class="inner row m0">
                        <a href="{{ asset('theme/single-video.html') }}">
                            <div class="row screencast m0">
                                <img src="{{ asset('theme/images/media/6.jpg') }}" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                        </a>
                        <div class="row m0 post_data">
                            <div class="category"><a href="{{ asset('theme/category.html') }}"><img
                                            src="{{ asset('theme/images/icons/catagory.png') }}" alt="">People</a></div>
                            <div class="row m0"><a href="{{ asset('theme/single-video.html') }}" class="post_title">Duis
                                    aute irure dolor in adipsicing elit</a></div>
                            <div class="fleft date">Published: 3 August, 2015</div>
                            <div class="fright views"><a href="#"><img src="{{ asset('theme/images/icons/views.png') }}"
                                                                       alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType3">
                    <div class="inner row m0">
                        <a href="{{ asset('theme/single-video.html') }}">
                            <div class="row screencast m0">
                                <img src="{{ asset('theme/images/media/7.jpg') }}" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                        </a>
                        <div class="row m0 post_data">
                            <div class="category"><a href="{{ asset('theme/category.html') }}"><img
                                            src="{{ asset('theme/images/icons/catagory.png') }}" alt="">Space Tech</a>
                            </div>
                            <div class="row m0"><a href="{{ asset('theme/single-video.html') }}" class="post_title">Duis
                                    aute irure dolor in adipsicing elit</a></div>
                            <div class="fleft date">Published: 3 August, 2015</div>
                            <div class="fright views"><a href="#"><img src="{{ asset('theme/images/icons/views.png') }}"
                                                                       alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType4">
                    <div class="inner row m0">
                        <a href="{{ asset('theme/single-video.html') }}">
                            <div class="row screencast m0">
                                <img src="{{ asset('theme/images/media/8.jpg') }}" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                        </a>
                        <div class="row m0 post_data">
                            <div class="category"><a href="{{ asset('theme/category.html') }}"><img
                                            src="{{ asset('theme/images/icons/catagory.png') }}" alt="">Nature &amp;
                                    Beauty</a></div>
                            <div class="row m0"><a href="{{ asset('theme/single-video.html') }}" class="post_title">Duis
                                    aute irure dolor in adipsicing elit</a></div>
                            <div class="fleft date">Published: 3 August, 2015</div>
                            <div class="fright views"><a href="#"><img src="{{ asset('theme/images/icons/views.png') }}"
                                                                       alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType2">
                    <div class="inner row m0">
                        <a href="{{ asset('theme/single-video.html') }}">
                            <div class="row screencast m0">
                                <img src="{{ asset('theme/images/media/9.jpg') }}" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                        </a>
                        <div class="row m0 post_data">
                            <div class="category"><a href="{{ asset('theme/category.html') }}"><img
                                            src="{{ asset('theme/images/icons/catagory.png') }}"
                                            alt="">Entertainment</a></div>
                            <div class="row m0"><a href="{{ asset('theme/single-video.html') }}" class="post_title">Duis
                                    aute irure dolor in adipsicing elit</a></div>
                            <div class="fleft date">Published: 3 August, 2015</div>
                            <div class="fright views"><a href="#"><img src="{{ asset('theme/images/icons/views.png') }}"
                                                                       alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType3">
                    <div class="inner row m0">
                        <a href="{{ asset('theme/single-video.html') }}">
                            <div class="row screencast m0">
                                <img src="{{ asset('theme/images/media/10.jpg') }}" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                        </a>
                        <div class="row m0 post_data">
                            <div class="category"><a href="{{ asset('theme/category.html') }}"><img
                                            src="{{ asset('theme/images/icons/catagory.png') }}" alt="">Relationship</a>
                            </div>
                            <div class="row m0"><a href="{{ asset('theme/single-video.html') }}" class="post_title">Duis
                                    aute irure dolor in adipsicing elit</a></div>
                            <div class="fleft date">Published: 3 August, 2015</div>
                            <div class="fright views"><a href="#"><img src="{{ asset('theme/images/icons/views.png') }}"
                                                                       alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType4">
                    <div class="inner row m0">
                        <a href="{{ asset('theme/single-video.html') }}">
                            <div class="row screencast m0">
                                <img src="{{ asset('theme/images/media/11.jpg') }}" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                        </a>
                        <div class="row m0 post_data">
                            <div class="category"><a href="{{ asset('theme/category.html') }}"><img
                                            src="{{ asset('theme/images/icons/catagory.png') }}" alt="">Business</a>
                            </div>
                            <div class="row m0"><a href="{{ asset('theme/single-video.html') }}" class="post_title">Duis
                                    aute irure dolor in adipsicing elit</a></div>
                            <div class="fleft date">Published: 3 August, 2015</div>
                            <div class="fright views"><a href="#"><img src="{{ asset('theme/images/icons/views.png') }}"
                                                                       alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <div class="row m0">
                    <div class="clearfix"></div>
                    <a href="{{ asset('theme/inc/more-uploads-1.html') }}" class="load_more_videos">Load more videos</a>
                </div>
            </div>
        </div>
    </section> <!--Recent Upload-->

    <section class="science_technology">
        <div class="container">
            <div class="row science_tec_row">
                <div class="col-sm-8">
                    <div class="science_img">
                        <img src="{{ asset('theme/images/media/large-video.jpg') }}" alt="" class="big_img">
                        <div class="video-content">
                            <a href="{{ asset('theme/single-video.html') }}">Methode Technology Hall Intro</a>
                            <h5><a href="{{ asset('theme/page-author.html') }}">Emran Khan</a> / OCTOER 2017</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 small_img">
                    <div class="science_img">
                        <img src="{{ asset('theme/images/media/small-video.jpg') }}" alt="">
                        <div class="video-content">
                            <a href="{{ asset('theme/single-video.html') }}">Methode Technology Hall Intro</a>
                            <h5><a href="{{ asset('theme/page-author.html') }}">Emran Khan</a> / OCTOER 2017</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 small_img">
                    <div class="science_img">
                        <img src="{{ asset('theme/images/media/small-video-2.jpg') }}" alt="">
                        <div class="video-content">
                            <a href="{{ asset('theme/single-video.html') }}">Methode Technology Hall Intro</a>
                            <h5><a href="{{ asset('theme/page-author.html') }}">Emran Khan</a> / OCTOER 2017</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row author_interview author_interview_2">
        <div class="container">
            <div class="row title_row">
                <h3>Authors Interview</h3>
            </div>
            <div class="row">
                <div class="col-sm-7 feature_post">
                    <div class="media feature_post_inner">
                        <div class="media-left feature_img"><a href="{{ asset('theme/single-video.html') }}"><img
                                        src="{{ asset('theme/images/media/large-video-2.jpg') }}" alt=""><span
                                        class="duration">17:30</span></a></div>
                        <div class="media-body feature_body">
                            <a href="{{ asset('theme/single-video.html') }}">
                                <h4>Duis aute irure dolor in adipsicing Ut enim. Lorem ipsum dolor sit amet</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et</p>
                            <div class="row m0 meta_info posted">1 year ago</div>
                            <div class="row m0 meta_info posted">by <a href="{{ asset('theme/page-author.html') }}">Masum
                                    Rana</a></div>
                            <div class="views row m0"><a href="#"><img src="{{ asset('theme/images/icons/views.png') }}"
                                                                       alt="">3,45,346</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 other_posts widget widget_popular_videos">
                    <div class="media">
                        <div class="media-left"><a href="{{ asset('theme/single-video.html') }}"><img
                                        src="{{ asset('theme/images/popular/1.jpg') }}" alt=""><span class="duration">17:30</span></a>
                        </div>
                        <div class="media-body">
                            <a href="{{ asset('theme/single-video.html') }}">
                                <h5>Nulla auctor lacinia lorem nec ornare donec accumsan venenatis dolor tristique</h5>
                            </a>
                            <div class="row m0 meta_info views">34,000 views</div>
                            <div class="row m0 meta_info posted">1 year ago</div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left"><a href="{{ asset('theme/single-video.html') }}"><img
                                        src="{{ asset('theme/images/popular/2.jpg') }}" alt=""><span class="duration">17:30</span></a>
                        </div>
                        <div class="media-body">
                            <a href="{{ asset('theme/single-video.html') }}">
                                <h5>Vestibulum ante ipsum primis in faucibus pellentesque et ultrices posuere
                                    cubilia</h5>
                            </a>
                            <div class="row m0 meta_info views">34,000 views</div>
                            <div class="row m0 meta_info posted">1 year ago</div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left"><a href="{{ asset('theme/single-video.html') }}"><img
                                        src="{{ asset('theme/images/popular/3.jpg') }}" alt=""><span class="duration">17:30</span></a>
                        </div>
                        <div class="media-body">
                            <a href="{{ asset('theme/single-video.html') }}">
                                <h5>Aliquam sagittis placerat netus tincidunt lorem sodales sapien ipsum commodo</h5>
                            </a>
                            <div class="row m0 meta_info views">34,000 views</div>
                            <div class="row m0 meta_info posted">1 year ago</div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left"><a href="{{ asset('theme/single-video.html') }}"><img
                                        src="{{ asset('theme/images/popular/4.jpg') }}" alt=""><span class="duration">17:30</span></a>
                        </div>
                        <div class="media-body">
                            <a href="{{ asset('theme/single-video.html') }}">
                                <h5>Integer iaculis malesuada ipsum, non convallis massa consequat interdum</h5>
                            </a>
                            <div class="row m0 meta_info views">34,000 views</div>
                            <div class="row m0 meta_info posted">1 year ago</div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left"><a href="{{ asset('theme/single-video.html') }}"><img
                                        src="{{ asset('theme/images/popular/5.jpg') }}" alt=""><span class="duration">17:30</span></a>
                        </div>
                        <div class="media-body">
                            <a href="{{ asset('theme/single-video.html') }}">
                                <h5>Cras ut diam volutpat, tincidunt odio a, dapibus purus</h5>
                            </a>
                            <div class="row m0 meta_info views">34,000 views</div>
                            <div class="row m0 meta_info posted">1 year ago</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row advertise_area">
        <div class="container">
            <div class="row advertise_row">
                <a href="#"><img src="{{ asset('theme/images/home-2-add.jpg') }}" alt=""></a>
            </div>
        </div>
    </section> <!--Advertise Row-->

    <section class="row author_interview">
        <div class="container">
            <div class="row title_row">
                <h3>Authors Interview</h3>
            </div>
            <div class="row">
                <div class="col-sm-6 feature_post">
                    <div class="media feature_post_inner">
                        <div class="media-left feature_img"><a href="{{ asset('theme/single-video.html') }}"><img
                                        src="{{ asset('theme/images/author/feature_interview.jpg') }}" alt=""><span
                                        class="duration">17:30</span></a></div>
                        <div class="media-body feature_body">
                            <a href="{{ asset('theme/single-video.html') }}">
                                <h4>Duis aute irure dolor in adipsicing Ut enim</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et</p>
                            <div class="row m0 meta_info posted">1 year ago</div>
                            <div class="row m0 meta_info posted">by <a href="{{ asset('theme/page-author.html') }}">Masum
                                    Rana</a></div>
                            <div class="views row m0"><a href="#"><img src="{{ asset('theme/images/icons/views.png') }}"
                                                                       alt="">3,45,346</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 other_posts widget widget_popular_videos">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-left"><a href="{{ asset('theme/single-video.html') }}"><img
                                                src="{{ asset('theme/images/popular/1.jpg') }}" alt=""><span
                                                class="duration">17:30</span></a></div>
                                <div class="media-body">
                                    <a href="{{ asset('theme/single-video.html') }}">
                                        <h5>Lorem ipsum dolor si amet etur adipis</h5>
                                    </a>
                                    <div class="row m0 meta_info views">34,000 views</div>
                                    <div class="row m0 meta_info posted">1 year ago</div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left"><a href="{{ asset('theme/single-video.html') }}"><img
                                                src="{{ asset('theme/images/popular/2.jpg') }}" alt=""><span
                                                class="duration">17:30</span></a></div>
                                <div class="media-body">
                                    <a href="{{ asset('theme/single-video.html') }}">
                                        <h5>Lorem ipsum dolor si amet etur adipis</h5>
                                    </a>
                                    <div class="row m0 meta_info views">34,000 views</div>
                                    <div class="row m0 meta_info posted">1 year ago</div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left"><a href="{{ asset('theme/single-video.html') }}"><img
                                                src="{{ asset('theme/images/popular/3.jpg') }}" alt=""><span
                                                class="duration">17:30</span></a></div>
                                <div class="media-body">
                                    <a href="{{ asset('theme/single-video.html') }}">
                                        <h5>Lorem ipsum dolor si amet etur adipis</h5>
                                    </a>
                                    <div class="row m0 meta_info views">34,000 views</div>
                                    <div class="row m0 meta_info posted">1 year ago</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-left"><a href="{{ asset('theme/single-video.html') }}"><img
                                                src="{{ asset('theme/images/popular/1.jpg') }}" alt=""><span
                                                class="duration">17:30</span></a></div>
                                <div class="media-body">
                                    <a href="{{ asset('theme/single-video.html') }}">
                                        <h5>Lorem ipsum dolor si amet etur adipis</h5>
                                    </a>
                                    <div class="row m0 meta_info views">34,000 views</div>
                                    <div class="row m0 meta_info posted">1 year ago</div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left"><a href="{{ asset('theme/single-video.html') }}"><img
                                                src="{{ asset('theme/images/popular/2.jpg') }}" alt=""><span
                                                class="duration">17:30</span></a></div>
                                <div class="media-body">
                                    <a href="{{ asset('theme/single-video.html') }}">
                                        <h5>Lorem ipsum dolor si amet etur adipis</h5>
                                    </a>
                                    <div class="row m0 meta_info views">34,000 views</div>
                                    <div class="row m0 meta_info posted">1 year ago</div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left"><a href="{{ asset('theme/single-video.html') }}"><img
                                                src="{{ asset('theme/images/popular/3.jpg') }}" alt=""><span
                                                class="duration">17:30</span></a></div>
                                <div class="media-body">
                                    <a href="{{ asset('theme/single-video.html') }}">
                                        <h5>Lorem ipsum dolor si amet etur adipis</h5>
                                    </a>
                                    <div class="row m0 meta_info views">34,000 views</div>
                                    <div class="row m0 meta_info posted">1 year ago</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <ul class="nav nav-justified ribbon">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </section> <!--Ribbon-->

    <footer class="row">
        <div class="container">
            <div class="row sidebar sidebar_footer">
                <div class="col-sm-3 widget widget1 w_in_footer widget_about">
                    <h5 class="widget_title">About Video Cafe</h5>
                    <div class="row m0 inner">
                        <a href="{{ asset('theme/index.html') }}"><img src="{{ asset('theme/images/logo.png') }}"
                                                                       alt=""></a><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit</p>
                    </div>
                </div>
                <div class="col-sm-3 widget widget2 w_in_footer widget_subscribe">
                    <h5 class="widget_title">subscribe to our newsletter</h5>
                    <div class="row m0 inner">
                        <form action="#" class="row m0" method="post">
                            <input type="email" class="form-control" placeholder="Enter Email Address">
                            <input type="submit" value="Submit Now" class="form-control btn btn-default">
                        </form>
                    </div>
                </div>
                <div class="col-sm-3 widget widget3 w_in_footer widget_tags">
                    <h5 class="widget_title">popular tags</h5>
                    <div class="row m0 inner">
                        <a href="#" class="tag">business</a>
                        <a href="#" class="tag">osx</a>
                        <a href="#" class="tag">windows 10</a>
                        <a href="#" class="tag">osx yosemite</a>
                        <a href="#" class="tag">photoshop</a>
                        <a href="#" class="tag">css</a>
                        <a href="#" class="tag">business</a>
                        <a href="#" class="tag">osx</a>
                        <a href="#" class="tag">windows 10</a>
                        <a href="#" class="tag">osx yosemite</a>
                        <a href="#" class="tag">photoshop</a>
                        <a href="#" class="tag">css</a>
                    </div>
                </div>
                <div class="col-sm-3 widget widget4 w_in_footer widget_twitter">
                    <h5 class="widget_title">twitter feed</h5>
                    <div class="row m0 inner">
                        <div class="row m0 tweet"><a href="#">@masum_rana:</a>Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat
                        </div>
                        <div class="row m0 tweet"><a href="#">@masum_rana:</a>Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat
                        </div>
                        <div class="row m0 tweet"><a href="#">@masum_rana:</a>Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    {#------------------------------------------------------------------------------------------------#}

    <audio controls>
        <source src="../audio/grand_mere.mp3"/>
        {#String $tpsTrack = {{ track.track }}#}
    </audio>



    <a href="{{ path('newtrack') }}" class="clear_both">
        <button class="w_50 btn-info ml_30">Importer ma création</button>
    </a>

    <h1 class="text-center mt-5 mb-4">Ecoutez ces musiques ajoutées par les membres ! xx</h1>
    {# Tous les nav lisent le MP3 donc ça suffit pas ??? #}

    {#<h1>Démo HTML5 : AUDIO</h1>#}
    {#<audio controls autoplay>#}
    {#<source src="audio/Sing-Street-Drive-It-Like-You-Stole-It.mp3" />#}
    {#<source src="audio/Sing-Street-Drive-It-Like-You-Stole-It.ogg" />#}
    {#<source src="audio/Sing-Street-Drive-It-Like-You-Stole-It.webm" />#}
    {#</audio>#}

    {#<audio controls autoplay>#}
    {#<source src="../audio/549e03a0c111abf7e2e4b5ac7e5761a9.mp3" />#}
    {#</audio>#}

    {#<audio controls>#}
    {#<source src="../audio/{{ conversionPapi }}" />#}
    {#</audio>#}

    {#<audio controls>#}
    {#<source src="../audio/{{ conversionPapi2 }}" />#}
    {#</audio>#}

    {#<audio controls>#}
    {#<source src="../audio/papi" type="audio/wma"/>#}
    {#</audio>#}


    {# On affiche ici la liste des pistes de musiques mises en lignes, par ordre décroissant (et si une recherche est lancée la liste des résultats) #}
    {#<p>{{ pagination.getTotalitemCount }}</p>#}
    {% if pagination.getTotalitemCount > 0 %}
        <table class="width100 text-center">
            <tr>
                <th class="col-sm-3">Titre</th>
                <th class="col-sm-3">Membre</th>
                <th class="col-sm-3">Track</th>
                <th class="col-sm-3">Télécharger/voir le track</th>
            </tr>
            {% for track in pagination %}
                {#on teste si l'index est pair ou impair pour changer la classe : une ligne sur 2 sera de couleur#}
                <tr {% if loop.index is odd %} class="color" {% endif %}>
                    {# title et idUser = nom des variables de l'entité Track #}
                    <td>{{ track.title }}</td>
                    {# On va chercher dans la table Track le user (qui est un objet) ds lequel on va chercher le prénom #}
                    <td>{{ track.user.firstName }}</td>
                    <td>
                        <audio controls>
                            <source src="../audio/{{ track.track }}.mp3"/>
                            {#String $tpsTrack = {{ track.track }}#}
                        </audio>
                    </td>
                    <td>
                        {#<a href="{{ asset('audio/'~ track.track ~'.mp3') }}">     ==> Fonctionne mais ne télécharge pas : ouvre la musique ds une nouvelle page #}
                        {#<td><a href="{{ asset('audio/grand_mere.mp3') }}"><button><img src="../images/download.png" height="50px" alt="Bouton télécharger track de musique"></button></a></td>#}

                        <a href="{{ path('download', {'id' : track.id}) }}">
                            <button>
                                <img src="../images/download.png" height="50px"
                                     alt="Bouton télécharger track de musique">
                            </button>
                        </a>
                        <a href="{{ path('seetrack', {'id' : track.id}) }}">
                            {#<a href="#">#}
                            <button>
                                <img src="../images/eye.png" height="50px"
                                     alt="Bouton voir track de musique">
                            </button>
                        </a>
                    </td>


                    {#<td><a href="{{ path('users_profile', {'id' : student.id}) }}">Voir le profil</a></td>#}



                    {#<td><a href="{{ asset('images/bemol.png') }}"><button><img src="../images/download.png" height="50px" alt="Bouton télécharger track de musique"></button></a></td>#}
                    {#<td>Email : <a href="{{ baseUrlToSendMail }}/{{ user.email }}">{{ user.email }}</a></td>#}
                    {#<td><a href="{{ path('users_profile', {'id' : student.id}) }}">Voir le profil</a></td>#}
                </tr>
            {% endfor %}
        </table>
        <div class="navigation ml_30">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>Aucun résultat</p>
    {% endif %}



    {#// Sans pagination#}
    {#<table>#}
    {#<tr>#}
    {#<th>Nom</th>#}
    {#<th>Prénom</th>#}
    {#<th>Email</th>#}
    {#</tr>#}
    {#{% for user in users %}#}
    {#<tr {% if loop.index is odd %} class="color" {% endif %}> #}{# on teste si l'index est pair ou impair pour changer la classe : une ligne sur 2 sera de couleur #}
    {#<td>{{ user.lastName }}</td>#}
    {#<td>{{ user.firstName }}</td>#}
    {#<td>{{ user.email }}</td>#}
    {#<td>Email : <a href="{{ baseUrlToSendMail }}/{{ user.email }}">{{ user.email }}</a></td>#}
    {#<td><a href="{{ path('users_profile', {'id' : student.id}) }}">Voir le profil</a></td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</table>#}

    {# ESSAI Ajout dans BDD (ici table Message) #}
    {#{% form_theme formBook 'bootstrap_4_layout.html.twig' %}        #}{# Donner du style au form #}
    {#{{ form_start(formBook) }}      #}{# form_start va afficher la balise <form>  -  Pr ajouter une classe : {{ form_start(formBook, {'attr': {'class': 'user-form'}}) }}#}
    {#{{ form_widget(formBook) }}#}
    {#{{ form_end(formBook) }}        #}{# ferme la balise <form> #}


{% endblock content %}
