{% extends "/layout.html.twig" %}

{% block content %}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    {# Header : titre + fil d'ariane #}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    <section class="row page_cover">
        <div class="container">
            <div class="row m0">
                <h1>Uploader mon track Entre Dièses et Bémols</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li class="active">Upload track</li>
                </ol>
            </div>
        </div>
    </section>

    {#Ruban#}
    {% include "Includes/ribbon.html.twig" %}

    <div class="container">
        <div class="row">
            <h2 class="text-center">Télécharger votre musique sur Entre Dièses et Bémols</h2>

            {% if motclefchoisi is defined %}{{ motclefchoisi }}{% endif %}

            {{ form_start(newTrackForm, {'attr': {'class': 'container-fluid login_form auth_form'}}) }}
            <div class="form-inner row">
                <div class="form-body row m0">
                    {{ form_errors(newTrackForm) }}

                    {# On choisi l'odre des éléments (sinon si on ajoute un bouton il se mettra avant les champs) #}

                    {# form_widget : Affiche seulement le champ #}
                    {{ form_widget(newTrackForm.title, {'attr': {'class': 'form-control mb-5', 'placeholder':'Titre de ma création'}}) }}

                    {# form_row : Affiche le lable et le champ #}
                    {{ form_row(newTrackForm.track, {'attr': {'class': 'form-control mb-5'}}) }}
                    {{ form_row(newTrackForm.image, {'attr': {'class': 'form-control mb-5'}}) }}

                    {#{{ form_row(newTrackForm.trackMotclef, {'attr': {'class': 'form-control mb-5'}}) }}#}


                    {#<span class="btn btn-success fileinput-button">#}
                        {#<i class="glyphicon glyphicon-plus"></i>#}
                        {#<span>Choisir un fichier#}
                        {#{{ form_widget(newTrackForm.track, {'attr': {'class': 'form-control mb-5',#}
                            {#'id': 'fileupload', 'type':'file', 'name':'files[]'}}) }}#}
                        {#</span>#}
                        {#<input id="fileupload" type="file" name="files[]" multiple="">#}
                    {#</span>#}

                    {#Personnaliser le bouton PARCOURIR#}
                    {#<span class="btn btn-success fileinput-button">#}
                        {#<i class="glyphicon glyphicon-plus"></i>#}
                        {#<span>Select files...</span>#}
                        {#<input id="fileupload" type="file" name="files[]" multiple="">#}
                    {#</span>#}

                    <input type="submit" value="Ajouter" class="btn btn-default form-control">
                </div>
            </div>
            {{ form_end(newTrackForm) }}

        </div>
    </div>
{% endblock content %}