{% extends "/layout.html.twig" %}

{% block title %}Entre Dièses et Bémols - Accueil{% endblock %}

{% block content %}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    {# Header : titre + fil d'ariane #}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    <section class="row page_cover">
        <div class="container">
            <div class="row m0">
                <h1>Détails du track</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li class="active">Détails du track</li>
                </ol>
            </div>
        </div>
    </section>

    {#Ruban#}
    {% include "Includes/ribbon.html.twig" %}

    <h2 class="text-center mt-5 mb-4">Ecoutez cette compo et ses +1, et ajoutez votre son !</h2>

    <section class="row post_page_sidebar post_page_sidebar1">
        <div class="container">
            <div class="row">
                {% if track1.actif == 1 %}

                    {#-------------------------------------------------------------------------------------------------------------------------------------#}
                    {# Musique visualisée avec bouton pour ajouter un track à celui-ci (avec un son en plus) #}
                    {#-------------------------------------------------------------------------------------------------------------------------------------#}
                    <div class="col-sm-4 video_post">                      {# classe enlevée : post_page_uploads #}
                        <a href="{{ path('newtrack', {'num' : track1.num + 1, 'id1' : track1.id}) }}"
                           class="clear_both">
                            <button class="btn btn-info mb-5 h_50 w-100">Ajouter mon +1<br>↪&nbsp;&nbsp; ma création ajoutée à celle-ci</button>
                        </a>

                        {% include "Includes/viewTrack.html.twig" %}
                    </div>

                    {#-------------------------------------------------------------------------------------------------------------------------------------#}
                    {# Musique(s) en relation avec la musique visualisée (id1 = track.id) #}
                    {#-------------------------------------------------------------------------------------------------------------------------------------#}
                    <div class="col-sm-8 sidebar video_post">              {# classe enlevée : sidebar2 #}

                        {#<h3 class="h_50 text-center">xx tracks avec un son en plus</h3> !!!???#}

                        {# On affiche les tracks par ordre antéchronologique (indiqué dans le HomeController sur la creationDate) #}

                        {#<div class="w_50 float-left">#}
                        {% for track in tracks %}
                            {# on peut aussi ajouter la condition à l'intérieur : {% for track in tracks if track.id1  == track.id%} mais on ne peut pas ut. loop.index ?? #}

                            {% if track.id1.id is defined %}   {# Car possibilité de ne pas avoir d'id1 (si compo de départ #}
                                {% if track.id1.actif == 1 %}
                                    {% if track.id1.id == track1.id %}
                                        {% include "Includes/viewTrack2.html.twig" %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {#</div>#}
                    </div>

                {% else %}
                    <h4>Ce track a été inactivé !</h4>
                {% endif %}
            </div>

            {#-------------------------------------------------------------------------------------------------------------------------------------#}
            {# Nouveau Message (commentaire) #}
            {#-------------------------------------------------------------------------------------------------------------------------------------#}
            <div class="row">
                {#<p>newmessage/{{ track1.id }}/{{ app.user.id }}</p>#}

                <form action="{{ path('seetrack', {'id' : track1.id}) }}" method="post"
                      class="row m0 comment_form">
                    <h5>Postez votre commentaire</h5>
                    <textarea class="form-control"
                              placeholder="Ecrivez quelque chose au sujet de ce track de musique ou sur ses +1"
                              name="message"></textarea>
                    <input type="submit" value="Envoyer" class="btn btn default">
                </form>
            </div>

            {#-------------------------------------------------------------------------------------------------------------------------------------#}
            {# Message(s) (commentaire(s)) en relation avec le track visualisé #}
            {#-------------------------------------------------------------------------------------------------------------------------------------#}
            <div class="row m0 comments">
                <h2>Commentaire(s) au sujet du track</h2>

                {#<h5 class="comment_count">xx commentaires :</h5> !!!???#}
                <div class="media comment">
                    {# On affiche ici les messages en relation avec le track visualisé #}
                    {% for message in messages %}

                        {% if message.actif == 1 %}
                            {% if message.track.id  == track1.id %}
                                <div class="message">   {#classe enlevée : media-body*/#}
                                    <div class="comment_header">
                                        <h5>
                                            <a href="#" class="author_name">{{ message.user.pseudo }}</a>
                                            <span class="time_ago">{{ message.creationdate|date("d/m/Y - H:i") }}</span>
                                            {#<a href="#" class="reply_link">Reply</a>#}
                                        </h5>
                                    </div>
                                    <p {% if message.user.id == track1.user.id %} class="message_owner" {% endif %}>{{ message.corps }}</p>
                                    {#<div class="media comment comment_reply">#}
                                        {#<div class="media-left"><a href="#"><img src="images/follow/4.jpg" alt=""#}
                                                                                 {#class="img-circle"></a></div>#}
                                        {#<div class="media-body">#}
                                            {#<div class="comment_header">#}
                                                {#<h5>#}
                                                    {#<a href="#" class="author_name">Lisa Zing Lung Chung</a>#}
                                                    {#<span class="time_ago">10 minutes ago</span>#}
                                                    {#<a href="#" class="reply_link">Reply</a>#}
                                                {#</h5>#}
                                            {#</div>#}
                                            {#<p>Sed ut perspiciat unde omnis iste natus error sit voluptatem#}
                                                {#accusantium#}
                                                {#doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo#}
                                                {#inventore#}
                                                {#veritatis et quasi architecto beatae vitae dicta sunt#}
                                                {#explicabo. </p>#}
                                        {#</div>#}
                                    {#</div> <!--Comment Reply-->#}

                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section> <!--Uploads-->

{% endblock content %}
