<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header w-10">
            <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('images/logoDieseBemol.png') }}"
                                                                   alt=""
                                                                    class="logo"></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#middle-menu"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse w-90" id="middle-menu">
            <ul class="nav navbar-nav w-100">
                {#-------------------------------------------------------------------------------------------------#}
                {# Vu par tout le monde (connecté ou non#}
                {#-------------------------------------------------------------------------------------------------#}
                <li>
                    <a {% if app.request.get('_route') == 'faq' %}class="active"{% endif %} href="{{ path('faq') }}">
                        FAQ
                    </a>
                </li>

                <li>
                    <a {% if app.request.get('_route') == 'tuto' %}class="active"{% endif %}
                       href="{{ path('tuto') }}">
                        Tutoriel
                    </a>
                </li>

                <li class="titre_menu">
                    <a href="{{ path('home') }}">
                        ♫&nbsp;<span class="petit"> ♫ </span>
                        &nbsp;Entre&nbsp;<span class="petit"> ♯ </span>
                        Dièses&nbsp;<span class="petit">♯</span>
                        et <span class="petit">♭</span>
                        &nbsp;Bémols&nbsp;<span class="petit">♭</span>&nbsp;♫
                    </a>
                </li>

                {#-------------------------------------------------------------------------------------------------#}
                {# Pour les admin
                {#-------------------------------------------------------------------------------------------------#}
                <li {% if not is_granted('ROLE_ADMIN') %} class="hidden"{% else %} class="dropdown"{% endif %} >
                    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
                    {#aria-expanded="false">#}
                    {#<span class="home_variation_icon"></span>Home variations#}
                    {#</a>#}
                    <a {% if (app.request.get('_route') == 'admin')
                        or (app.request.get('_route') == 'adminlistmembers')
                        or (app.request.get('_route') == 'adminlisttracks')
                        or (app.request.get('_route') == 'adminlistmotsclefs') %} class="active" {% endif %}
                            href="{{ path('admin') }}">
                        Admin
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a {% if app.request.get('_route') == 'adminlistmembers' %}class="active"{% endif %}
                               href="{{ path('adminlistmembers') }}">
                                Liste des membres
                            </a>
                        </li>
                        <li>
                            <a {% if app.request.get('_route') == 'adminlisttracks' %}class="active"{% endif %}
                               href="{{ path('adminlisttracks') }}">
                                Liste des tracks
                            </a>
                        </li>
                        {#<li>#}
                            {#<a {% if app.request.get('_route') == 'adminlistmotsclefs' %}class="active"{% endif %}#}
                               {#href="{{ path('adminlistmotsclefs') }}">#}
                                {#Liste des mots clefs#}
                            {#</a>#}
                        {#</li>#}
                        <li>
                            <a {% if app.request.get('_route') == 'adminlistmessages' %}class="active"{% endif %}
                               href="{{ path('adminlistmessages') }}">
                                Liste des commentaires
                            </a>
                        </li>
                    </ul>
                </li>

                <ul class="nav navbar-nav navbar-right">    {# supp : login_drop#}
                    {#-------------------------------------------------------------------------------------------------#}
                    {#Si non connecté#}
                    {#-------------------------------------------------------------------------------------------------#}
                    <li {% if is_granted('IS_AUTHENTICATED_FULLY') %} class="hidden" {% else %} class="disp_inlineblock" {% endif %} >
                        <a {% if app.request.get('_route') == 'register' %} class="active float_left"{% endif %}
                                href="{{ path('register') }}">
                            M'inscrire
                        </a>
                    </li>
                    <li {% if is_granted('IS_AUTHENTICATED_FULLY') %} class="hidden" {% else %} class="disp_inlineblock" {% endif %} >

                        <a {% if app.request.get('_route') == 'login' %} class="active float_left"{% endif %}
                                href="{{ path('login') }}">
                            Me connecter
                        </a>
                    </li>

                    {#-------------------------------------------------------------------------------------------------#}
                    {#Si connecté#}
                    {#-------------------------------------------------------------------------------------------------#}
                    <li {% if not is_granted('IS_AUTHENTICATED_FULLY') %} class="hidden"{% else %} class="dropdown"{% endif %} >

                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
                        {#aria-expanded="false">#}
                        {#<span class="home_variation_icon"></span>Home variations#}
                        {#</a>#}
                        <a {% if (app.request.get('_route') == 'user') or (app.request.get('_route') == 'userpassword')
                            or (app.request.get('_route') == 'useremail') %} class="active" {% endif %}
                                href="{{ path('user') }}">
                            {#Mon Compte#}
                            <b class="big">♪ ♯ ♪ </b> <b id="pseudo_menu" class="rock">{% if is_granted('IS_AUTHENTICATED_FULLY') %}{{ app.user.pseudo }}{% endif %}</b> <b class="big"> ♪ ♭ ♪</b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a {% if app.request.get('_route') == 'user' %}class="active"{% endif %}
                                   href="{{ path('user') }}">
                                    Informations personnelles
                                </a>
                            </li>
                            <li>
                                <a {% if app.request.get('_route') == 'userpassword' %}class="active"{% endif %}
                                   href="{{ path('userpassword') }}">
                                    Modifier mon mot de passe
                                </a>
                            </li>
                            <li>
                                <a {% if app.request.get('_route') == 'useremail' %}class="active"{% endif %}
                                   href="{{ path('useremail') }}">
                                    Modifier mon adresse mail
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li {% if not is_granted('IS_AUTHENTICATED_FULLY') %} class="hidden" {% else %} class="disp_inlineblock" {% endif %} >
                        <a href="{{ path('logout') }}">
                            Déconnexion
                        </a>
                    </li>
                </ul>
            </ul>
        </div>

    </div>
</nav>