{# Pour les tracks en relation avec un autre (+1) (seeTrack.html.twig) + ceux mis en ligne par un membre (user.html.twig + iserIdProfil.html.twig) #}
{# Avec possibilité de visualisé le track dans une nouvelle page, au clic #}
<div class="inner row m0 audio-player mb-5">
    {# Image + titre du track (avec nombre de sons en plus) #}
    <div class="col-sm-6">
        <a href="{{ path('seetrack', {'id' : track.id}) }}"
           title="Voir le track dans un onglet">
            <div class="row screencast m0">
                <img src="{{ asset(img_track_directory) }}/{{ track.image }}"
                     alt="Image de la musique"
                     class="cast img-responsive img_track">
                <div class="play_btn"></div>
                <div class="media-length total-time">00:00</div>
            </div>
            <h3 class="row m0">
                {{ track.title }}
                {% if track.num > 0 %}
                    (+{{ track.num }})
                {% endif %}
            </h3>
        </a>
    </div>

    {# Pseudo membre qui a posté le track + date + soundtrack à écouter + lien pour télécharger #}
    <div class="m0 post_data col-sm-6">
        {% if app.request.get('_route') == 'seetrack' %}
            {% if track.user.actif == 1 %}
                <a href="{{ path('users_profil', {'id' : track.user.id}) }}">
                    <h4>{{ track.user.pseudo }}</h4>
                </a>
            {% else %}
                <h4>Membre inactif</h4>
            {% endif %}
        {% endif %}

        <div class="date">Publié le : {{ track.creationdate|date("d/m/Y") }}</div>
        {#<div class="fright views"><a href="#"><img#}
        {#src="{{ asset('theme/images/icons/views.png') }}"#}
        {#alt="">3,45,346</a></div>#}
        <audio controls>
            Votre navigateur ne supporte pas l'élément <code>audio</code>
            <source src="{{ asset(track_directory) }}/{{ track.track }}"/>
        </audio>

        <a href="{{ path('download', {'id' : track.id}) }}">
            <img src="{{ asset('images/download.png') }}" height="50px"
                 alt="Lien télécharger track de musique">
        </a>

        <a href="#">
            <p>Supprimer le track (si aucun son en plus)</p>
            <img src="{{ asset('images/supprimer.png') }}" height="50px"
                 alt="Lien télécharger track de musique">
        </a>
    </div>
</div>
